h1, h2, h3 {
  text-align: center;  
}


.opciones_tiempo {
	width: 100%;
	white-space: nowrap;
}

.left_section { 
	display: inline-block;
	text-align: right;
	font-size: 13px;
	vertical-align: middle;
	white-space: normal;
	width: 49.5%;
}

.right_section {
	display: inline-block;
	text-align: left;
	width: 49.5%;
	margin-left: 10px;
	white-space: normal;
}

.centrado {
  	text-align: center;
	width: 100%;
}

#boton_submit {
	margin-top: 8%;
	font-size: 24px;
}

html, body { 
	font-family: "Arial";
	color: white;
	height: 100%;
	width: 100%;
	margin: 0px;
	background: linear-gradient(90deg, rgba(0,0,0,0.75) 50%, rgba(204,0,0,0.75) 50%),
	url("fabero.jpg") center top repeat;
	z-index: 2;
	overflow: hidden;
}
