h1, h2, h3 {
  text-align: center;  
}

.opciones_tiempo {
	display: inline-block;
	width: 100%;
}

.opciones_tiempo label { 
	float: left;
	text-align: left;
	font-size: 13px;
	width: 50%;
}

.opciones_tiempo select {
		float: right;
		width: 15%;
}

.centrado {
  	text-align: center;
	width: 100%;
}

#boton_submit {
	margin-top: 8%;
	font-size: 24px;
}

body { 
	font-family: "Arial";
	color: white;
	height: 100%;
	background: linear-gradient(90deg, #000000 50%, #cc0000 50%), 
	url("fabero.png") center top no-repeat;
	z-index: 2;
	overflow: hidden;
}
